<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Zoicon Issues</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='zi.ico') }}">
	</head>
	<body>
		<header>
			<h1>Zoicon Issues</h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('overview') }}">Outline</a></li>
					<li><a href="{{ url_for('projects') }}">Projects &#9662;</a></li>
					<li><a href="{{ url_for('issues') }}">Issues &#9662;</a></li>
				</ul>
			</nav>
		</header>
		<div>{% block body %}{% endblock %}</div>
	</body>
</html>
